.navbar-brand {
  margin-left: auto;
  margin-right: auto;
}
.col {
  padding: 0;
}
hr {
  margin: 10px;
}
.box {
  padding-top: 10px;
  margin: 20px 0;
}
.mine-verify {
  padding: 0 10px 10px 10px;
}
.btn-mssg {
  padding: 10px 10px 0 10px;
  display: flex;
  align-items: baseline;
}
.btn-mssg-alert {
  padding: 10px;
  margin: 20px 10px 10px 10px;
}
.btn-mssg-mssg {
  padding-left: 10px;
  color: gray;
}
.transaction-card,
.block-card {
  padding: 10px;
  margin: 10px;
  height: auto;
  background-color: #f6f6f6;
}
.text-overflow {
  overflow: hidden;
}
.pool-empty {
  padding: 20px 0;
  color: grey;
}
.input-group-text {
  width: 90px;
}
.form-control:focus {
  box-shadow: none;
  border-color: grey;
}
.transaction-number {
  border-color: grey;
}
.add-transaction {
  padding: 10px 40px 0 40px;
}
.random-transactions {
  margin: 20px;
  display: flex;
  justify-content: center;
}
